/* Document Settings */

html {
  background-color: black;
  color: white;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

/* Text Settings */

p, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

a {
  color: darkorange;
  text-decoration: none;
  display: inline-block;
  margin: auto 1ch auto;
}

header
{
}

main
{
}

footer
{
  margin-top: 10em;
  font-size: 0.75em;
  color: grey;
}
footer p
{
  font-family: sans-serif;
}

/* Basic Forms */

header
#subtitle {
}

main
#login {
  display: none;
  text-align: center;
  margin: 1em auto 1em;
}

main
#status {
  display: none;
}

main
#surroundings {
  display: none;
}
