html {
  background-color: black;
  color: white;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

#login
{
  margin-top: 15em;
  text-align: center;
}

#main #surroundings
{
  margin-left: auto;
  margin-right: auto;
}

#main #surroundings #NPC_kills
{
  float: left;
}

.solar_system .sec-10 {
  color: #2FEFEF;
}
.solar_system .sec-09 {
  color: #48F0C0;
}
.solar_system .sec-08 {
  color: #00EF47;
}
.solar_system .sec-07 {
  color: #00F000;
}
.solar_system .sec-06 {
  color: #8FEF2F;
}
.solar_system .sec-05 {
  color: #EFEF00;
}
.solar_system .sec-04 {
  color: #D77700;
}
.solar_system .sec-03 {
  color: #F06000;
}
.solar_system .sec-02 {
  color: #F04800;
}
.solar_system .sec-01 {
  color: #D73000;
}
.solar_system .sec-00 {
  color: #F00000;
}
