/* Document Settings */

html {
  background-color: black;
  color: white;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

/* Text Settings */

p, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

a {
  color: darkorange;
  text-decoration: none;
  display: inline-block;
  margin: auto 1ch auto;
}

/* Basic Forms */

#login
{
  display: none;
  margin-top: 15em;
  text-align: center;
}

#main
{
  display: none;
}

footer
{
  font-size: 0.75em;
  color: grey;
}
footer p
{
  font-family: sans-serif;
}
