main
#surroundings .links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

main
#surroundings .nodes circle {
  stroke-width: 1px;
  stroke-opactiy: 0.2;
}

main
#surroundings
{
  margin-left: auto;
  margin-right: auto;
}

main
#surroundings #NPC_kills
{
  float: left;
}
