main
#surroundings .links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

main
#surroundings .nodes circle {
  stroke-width: 2.2px;
  stroke-opactiy: 0.2;
  cursor: pointer;
}
main
#surroundings .nodes circle:active {
  cursor: grab;
}


main
#surroundings
{
  margin-left: auto;
  margin-right: auto;
}

/*
 * Flexbox definition
 *
 */

main
#surroundings
{
  justify-content: center;
}

main
#surroundings > .right-menu
{
  flex-grow: 0;
  text-align: left;
}

main
#surroundings > .right-menu > div
{
  border-top: 1px solid rgba(100, 100, 100, .4);
  padding: 0 0 2em;
}
main
#surroundings > .right-menu > div:first-child
{
  border-top: none;
}

main
#surroundings > .right-menu > div h6
{
  margin: 0.5em auto 0 auto;
}

main
#surroundings > .right-menu > div h4
{
  margin: 0 auto 0.5em;
}

main
#surroundings > .right-menu > div table
{
  font-size: 0.8em;
  min-width: 30ch;
}

main
#surroundings > .right-menu > div td
{
  text-align: right;
}

main
#surroundings > .right-menu > .selected-system
{
  display: none;
}

/*
 * Fade out further away systems
 *
 */

main
#surroundings .jumps-0
{
  opacity: 1.0;
}

main
#surroundings .jumps-1
{
  opacity: 1.0;
}

main
#surroundings .jumps-2
{
  opacity: 0.95;
}

main
#surroundings .jumps-3
{
  opacity: 0.9;
}
main #surroundings .jumps-4,
main #surroundings .jumps-5,
main #surroundings .jumps-6,
main #surroundings .jumps-7,
main #surroundings .jumps-8
{
  opacity: 0.8;
}
